<header>
  <h1 onclick="window.location='/{{locale}}';" style="cursor: pointer;"><span style="color:rgb(118,118,119);">cypher</span><span style="color:rgb(255, 235, 59);">Me</span>
  </h1>
  <hr>
  <div style="text-align: right; font-size: 12px; color:rgb(118,118,119);"> <a href="http://blog.jgc.org/2016/05/two-factor-paper-passwords.html" target="_blank">{{localesMenu.[idea]}}</a> | {{#if about}}<a href="/{{lang}}">{{localesMenu.[home]}}</a>{{else}}<a href="/en/about?lang={{locale}}">about</a>{{/if}} 
  </div>
  <h3 style="margin-top: 0px;"><span style="color:rgb(118,118,119);">Cypher</span> your <span style="color:rgb(255, 235, 59);">passwords</span> ...</h3>
  <h3>... and get <span style="color:rgb(118,118,119);">two</span>-<span style="color:rgb(255, 235, 59);">factor</span> paper passwords</h3>
  <hr>
</header>






